@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media screen and (max-width: 705px) {
    header {
        position: static;
        flex-direction: column;
    }

    .nav-bar-items {
        flex-direction: column;
        text-align: center;
    }

    #profile-container {
        padding-top: 32px;
        flex-direction: column;
    }

    #bio {
        margin: 16px;
        padding: 16px 0;
    }

    .portfolio-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-card div {
        width: 100%;
        margin: 16px;
    }

    .porfolio-picture {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    .skill-card {
        flex: 0 1 47%;
    }

    .experience-card {
        flex: 0 1 47%;
    }

    .education-card {
        flex: 0 1 97%;
    }
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: center;
    background-color: lightgoldenrodyellow;
}

header {
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: auto;
    cursor: pointer;
    margin:12px 24px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    font-size: 2em;
    border-radius: 50%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0px 32px;
}

#profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
    margin: 0 1.5%;
}

#profile-picture {
    height: 300px;
    object-fit: cover;
    border-radius: 80%;
}

.title-1 {
    margin: 24px 0px;
    font-size: 2.5em;
    font-weight: 700;
    color: #162783;
}

.subtitle {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 24px 0;
}

#bio {
    margin-left: 96px;
}

.social-media-container a{
    margin-right: 16px;
}

hr {
    margin: 32px 1.5%;
}


.nav-bar-items {
    list-style: none;
    display: flex;
}

.nav-bar-items li {
    padding: 16px 32px;
}

.nav-bar-items li a {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

.porfolio-picture {
    height: 250px;
    width: 40%;
    border-radius: 16px;
    object-fit: cover;
}

.portfolio-card {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 1.5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px black;
}

.portfolio-card div {
    width: 60%;
    margin-left: 16px;
    margin-right: 16px;
}

.title-2 {
    padding-top: 96px;
    margin-left: 1.5%;
    font-size: 2.5em;
    color: blueviolet;
    font-weight: 700;
}

.title-3 {
    color: blueviolet;
    margin: 16px 0px;
    font-size: 1.25em;
    font-weight: 700;
}

.description {
    line-height: 1.5;
}


.skill-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.skill-card {
    flex: 0 1 22%;
    background-color: white;
    margin: 16px 1.5%;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px black;
    text-align: center;
    padding-bottom: 5px;
}

.skill-picture {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
    object-fit: cover;
}

.skil-title {
    margin-bottom: 16px;
    font-weight: 700;
    text-align: center;
    color: black;
    padding-bottom: 5px;
}

.experience-card {
    background-color: gray;
    margin: 32px 1.5%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px black;
}

.education-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.education-card {
    flex: 30%;
    margin: 32px 1.5%;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px black;
}


.title-3 {
    color: #162783;
    margin: 16px 0px;
    font-size: 1.25em;
    font-weight: 700;
}

.title-4 {
    font-size: 1em;
    margin: 8px 0px;
}



.description {
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 25px;
    margin: auto;
    background-color: chocolate;
    color: white;
}